body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #433C85;
    text-align: center;
}
table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
table td a{
    text-decoration: none;
    color:black
}
table td a:hover{
    text-decoration: none;
    color:#333333
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    text-decoration: none;
    color:#333333
}