body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #433C85;
}
table td a{
    text-decoration: none;
    color:black
}
table td a:hover{
    text-decoration: none;
    color:#333333
}